.box {
  border-radius: 37px;
  background: var(--bleu-fonc, #25254c);
  padding: 24px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  flex-shrink: 0;
  margin-bottom: 24px;
}
