.subtitle {
  width: 441.186px;
  height: 22.5px;
  flex-shrink: 0;
  color: var(--blanc, #fff);
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 14px 0px 14px 0px;
  border: 14px;
}
