.tag {
  display: flex;
  padding: 11px 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 37px;
  background: var(--mauve, #7585f4);
  flex-wrap: wrap;
  color: var(--blanc, #fff);
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 7px;
}

.tag-plus {
  width: 39px;
  height: 38.4px;
  flex-shrink: 0;
  color: red;
}

.tag-close {
  display: flex;
  flex-wrap: wrap;
  color: black;
}
