.title-defis {
  color: var(--blanc, #fff);
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.title-contact {
  display: flex;
  width: 275px;
  padding: 24px 20px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 14px;
  flex-wrap: wrap;
  border-radius: 30px;
  background: var(--mauve, #7585f4);
  color: var(--blanc, #fff);
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 14px;
}
